---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 Multi-Niche Blogger | Content Strategist | SEO Writer</h1>
			<p>
				Hello! I’m Echo Reader (find my central hub at echoreader.blog), a passionate, multi-niche writer and content creator dedicated to sharing meaningful stories and expert perspectives. My mission is to inform, inspire, and connect a global audience across diverse topics.
			</p>
			<p>
				I manage a dynamic network of blogs, providing high-quality, SEO-optimized content in key areas like Finance, Health, Technology, Travel, and Sustainable Living. Each blog, from Investify Guide (Finance) to Saves Leaves (Environment), is a commitment to depth and relevance, ensuring my readers always find valuable, fresh insights.
			</p>
			<p>Ready to explore insightful content? Visit my network and follow my journey as a professional blog writer!</p>
		</main>
		<Footer />
	</body>
</html>
